// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
$shadow-spread: 5px;

@mixin respond-to($media) {
  @if $media == tablet {
    @media only screen and (max-width: 800px) { @content; }
  }
  @else if $media == mobile {
    @media only screen and (max-width: 360px) { @content; }
  }
}

body {
  background: #f4f3f3;
  font-size: 16px;
  line-height: 1.618;

  @include respond-to(mobile) {
    margin: 0 10px;
  }
}

.inner {
  max-width: 900px;
  width: 100%;
}

hr {
  background: transparent;
  border: 0;
  border-bottom: 1px solid $color-gray04;
  height: 1px;
  margin: 2em 0;
  position: relative;
}

#header {
  border-bottom: 4px double $color-gray03;
}

#comment {
  border: 0;
}

#pagenavi {
  border: 0;
}

article {
  border: 0;
  padding-top: 2em;

  .entry-content {
    line-height: inherit;
    text-align: inherit;

    p,
    blockquote,
    ul,
    ol,
    dl,
    table,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .video-container {
      margin-top: 1em;
    }

    img.fancy {
      @include border-radius(3px);
      @include box-shadow(0 0 $shadow-spread rgba(0, 0, 0, .1));
    }

    blockquote {
      border: 0;
      background: 0;
      font-size: smaller;
      padding: 0 0 0 1.618em;
      margin-top: 1em;
    }

    .more-link {
      padding: 0;

      &:before {
        display: none; // hide image
      }
    }

    > p:nth-of-type(1) {
      font-size: 1.618em;

      @include respond-to(tablet) {
        font-size: 1.4em;
      }

      @include respond-to(mobile) {
        font-size: larger;
      }
    }
  }

  code,
  pre {
    @include border-radius(0);
    background: rgba(0, 0, 0, .04);
    border: 0;
  }
}

figure.code {
  @include border-radius(0);
  background: rgba(0, 0, 0, .04);
  border: 0;
  margin-top: 1em;
  overflow: auto;

  table {
    background: 0;
    margin-top: 0;
  }

  code,
  pre {
    outline: 0;
  }

  figcaption {
    font-size: smaller;

    span {
      @include box-shadow(0 0 $shadow-spread 1px rgba(0, 0, 0, .05));
      background: rgba(255, 255, 255, .77);
      color: rgba(0, 0, 0, .5);
      margin-bottom: 5px;
    }
  }

  .line-numbers {
    border-color: rgba(0, 0, 0, .05);
    color: rgba(0, 0, 0, .2);
  }
}

pre code {
  outline: 0;
}

.post {
  h2.title {
    font-family: Georgia, serif;
    font-size: 4.235801032em;
    font-weight: normal;
    line-height: 1.25;
    margin: 0 0 .2em 0;

    @include respond-to(tablet) {
      font-size: 3em;
    }

    @include respond-to(mobile) {
      font-size: 2em;
    }

    em {
      display: block;
      color: #ff5d52;
      text-align: right;

      @include respond-to(tablet) {
        display: inline;
        text-align: left;
      }
    }
  }

  .entry-content {
    h2 {
      border: 0;
      font-size: 1.618em;

      &:before {
        display: none; // double border
      }
    }
  }

  .meta {
    font-style: italic;
    line-height: inherit;
    position: static;
    top: auto;
    width: auto;

    @include respond-to(tablet) {
      margin: 0; // override theme
    }

    .date,
    .tags,
    .comments {
      border-left: 1px solid $color-gray03;
      display: inline;
      padding: 0 .25em 0 .5em;

      @include respond-to(tablet) {
        margin: 0; // override theme
      }

      &:before {
        display: none; // hide images
      }

      &:first-child {
        border: 0;
        padding-left: 0;
      }
    }
  }
}

#comment,
.post .entry-content {
  margin: 0 15%;

  @include respond-to(tablet) {
    margin: 0 5%;
  }

  @include respond-to(mobile) {
    margin: 0;
  }
}

#footer {
  border: 0;
  border-top: 4px double $color-gray03;
  color: rgba(0, 0, 0, .4);
  font-size: smaller;
  text-align: left;
}
